<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mongodb" type="BteamMongoDB.Config.MongoConfig, BteamMongoDB" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <mongodb name="Repositories">
    <connections>
      <add database="RationalEvs" name="RationalEvs" pooling="true" port="27017" server="localhost" />
    </connections>
  </mongodb>


  <!-- LOG4NET SECTION -->
  <log4net debug="false">
    <root>
      <priority value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="volotea.log"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="yyyyMMdd"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p - %m%n"/>
      </layout>
    </appender>
  </log4net>
</configuration>