<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nhibernate" type="Bteam.NHibernate.Config.NHibernateHelperConfig, Bteam.NHibernate" />
  </configSections>
  <nhibernate name="test">
    <sessions>
      <add name="EventSourcing" fileConfigurationPath="config/nhibernate.xml" />
    </sessions>
  </nhibernate>
</configuration>